
<div class="row">
    <div class="col-12 custom-center">
      <h1 class="text-center">
        Login  {{ title }}!
      </h1>
    </div>
</div>

<div *ngIf="userLogged" class="row">
    <div class="col-md-12">
        <img src="{{ user.photoUrl }}">
        <div>
            <span class="pretty-format">{{user.name}} </span>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>

<div class="row">
    <div class="col-12 custom-center">
        <button
            type="button"
            *ngIf="!userLogged"
            class="btn btn-success px-4 radius-button btn-shadow font-weight-light"
            (click)="signInWithFB()">
        Login FB
        </button>
        <button
                type="button"
                *ngIf="userLogged"
                class="btn btn-dark px-4 radius-button btn-shadow font-weight-light"
                (click)="signOut()">
            Sign Out
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 custom-center">
    <div class="container">
        <div class="col-sm-4 text-center pt-lg-5">
            <h2 class="text-center">Chart</h2>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    </div>
</div>





